<!DOCTYPE html>
{% raw %}{% load bootstrap3 staticfiles compressed %}{% endraw %}
<html lang="fr-FR">
<head>
    <title>{{ project_name }} — {% raw %}{% block bootstrap3_title %}{% endblock %}{% endraw %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="robots" content="index, follow"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Django demo site"/>
    {% raw %}
    {% block pipelineheaders %}{% compressed_css 'base' %}{% compressed_js 'base' %}{% endblock %}
    {% block extraheaders %}{% endblock %}
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
<!--[if lt IE 9 ]><script type="text/javascript" src="{% static "js/respond.js" %}"></script><![endif]-->
    {% endraw %}
</head>
<body>
<div class="container">
</div>
</body>
</html>
